@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
	html {
		font-family: 'Mukta', system-ui, sans-serif;
	}
}

.h-screen-50 {
	height: 50vh;
}

.field-content {
	field-sizing: content;
}
